root = true

[*]
trim_trailing_whitespace = true
insert_final_newline = true

[*.{cs,ps1}]
indent_style = tab

[*.{js,ts,css,scss,json,yml,yaml,html,md,csproj,Build.props,Build.targets,props}]
indent_style = space
indent_size = 2
